{
    "presets": ["next/babel"],
    "plugins": [["styled-components", { "ssr": true }]]
    // "plugins": [
    //     [
    //         "import",
    //         {
    //             "libraryName": "antd",
    //             "style": true
    //         }
    //     ]
    // ]
}
